<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>面向个人的Web Api系统</title>

<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='user_login/css/style.css')}}"/>
<link rel="icon" href="{{url_for('static',filename='user_login/images/favicon.ico')}}"/>
</head>

<body>
{% for message in get_flashed_messages(with_categories=True) %}
<div class="alert-{{ message[0] }}" id="{{message[0]}}">
    <button type="button" class="close" data-dismiss="alert" >{{ message[1] }}</button>
    
</div>
{% endfor %}
<div class="login-container">

	<h1>登录界面</h1>
	
	<div class="connect">
		<a href ="https://github.com/kitonchen">
		<p>作者Github</p>
		</a>
	</div>
	
	<form action="" method="post" id="loginForm">
		<div>
			<input type="text" name="username" class="username" placeholder="用户名" autocomplete="off" value="{{username}}"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<button id="submit" type="submit">登 录</button>
	</form>

	<a href="/register">
		<button type="button" class="register-tis">还没有账号？</button>
	</a>

</div>

<script src="{{url_for('static',filename='user_login/js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='user_login/js/common.js')}}"></script>
<!--背景图片自动更换-->
<script src="{{url_for('static',filename='user_login/js/supersized.3.2.7.min.js')}}"></script>
<script src="{{url_for('static',filename='user_login/js/supersized-init.js')}}"></script>
<!--表单验证-->
<script src="{{url_for('static',filename='user_login/js/jquery.validate.min.js')}}"></script>

</body>
</html>
